.footerBannerContainer {
  background-color: var(--primary-accent);
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  padding-block: 72px;
  padding-inline: 96px;
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 10;
  /* check for tablet/mobile */
  margin-inline: 30px;
}

.footerBanner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bgContainer {
  position: absolute;
  right: -96px;
  z-index: -1;
}

.bgContainer img {
  width: 100%;
  height: auto;
}

.text,
.buttonContainer {
  flex: 1;
}

.text h2 {
  padding-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  .footerBannerContainer {
    padding-block: 57px;
  }

  .footerBanner {
    flex-direction: column;
    text-align: center;
  }

  .footerBanner p {
    padding-bottom: 30px;
  }

  .bgContainer {
    width: 180%;
    top: -100px;
  }
}

@media screen and (max-width: 749px) {
  .footerBannerContainer {
    top: -450px;
  }
}

@media screen and (max-width: 670px) {
  .bgContainer {
    width: 150vw;
    top: -100px;
  }
}

@media screen and (max-width: 525px) {
  .footerBannerContainer {
    padding-inline: 24px;
  }
}

@media screen and (max-width: 490px) {
  .bgContainer {
    width: 225vw;
    top: -100px;
  }
}
