.bg_pattern_leaf {
  position: absolute;
  top: 475px;
  left: 0;
  z-index: -1;
}

.bg_pattern_leaf_2 {
  position: absolute;
  top: 1880px;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  .bg_pattern_leaf,
  .bg_pattern_leaf_2 {
    display: none;
  }
}
