.map {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 351px;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 1110px) {
  .map {
    min-height: 331px;
  }
}

@media screen and (max-width: 780px) {
  .map {
    border-radius: 0;
  }
}
