.locationsSection {
  margin-bottom: 160px;
  padding-inline: 74px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1025px) {
  .locationsSection {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

@media screen and (max-width: 660px) {
  .locationsSection {
    margin-block: 120px;
  }
}
