.logoContainer {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.oval {
  transition: transform 0.25s ease-out;
}

.logoContainer:hover .oval {
  transform: rotate(360deg);
}
