.hero {
  background-color: var(--primary-accent);
  border-radius: var(--border-radius);
  color: var(--primary-light);
  padding-left: 95px;
  padding-block: 145px;

  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow: hidden;

  margin-bottom: 160px;
}

.hero h1 {
  max-width: 620px;
  padding-bottom: 30px;
}

.hero p {
  max-width: 450px;
  padding-bottom: 40px;
}

.imagesContainer {
  width: 100%;
}

.phoneMockup {
  position: absolute;
  right: -50px;
  bottom: -250px;
  max-width: 624px;
  width: 100%;
  height: auto;
}

@keyframes float {
  0% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(25px);
  }
}

.bgPattern {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
  animation: float 15s ease-in-out infinite;
  /* width: 100%; */
  height: auto;
}

@media screen and (max-width: 1105px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding-block: 60px;
    padding-left: 0;
    text-align: center;
    align-items: center;

    min-height: 840px;
  }

  .hero p {
    margin-inline: auto;
  }

  .phoneMockup {
    top: 300px;
    right: 50%;
    transform: translateX(50%);
  }

  .bgPattern {
    width: 100%;
  }

  .hero .bgPattern {
    top: 200px;
  }
}

@media screen and (max-width: 675px) {
  .hero {
    min-height: 740px;

    margin-inline: -40px;
    border-radius: 0;
  }

  .text {
    padding-inline: 24px;
  }

  .phoneMockup {
    top: 225px;
  }
}

@media screen and (max-width: 620px) {
  .hero {
    min-height: 740px;
  }
}

@media screen and (max-width: 580px) {
  .phoneMockup {
    top: 300px;
  }
}

@media screen and (max-width: 500px) {
  .phoneMockup {
    /* top: 350px; */
  }
}

@media screen and (max-width: 466px) {
  .phoneMockup {
    top: 350px;
  }
}

@media screen and (max-width: 390px) {
  .phoneMockup {
    top: 400px;
  }
}

/* LINK CARDS SECTION */

.linksCardsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* change in media queries */
  grid-template-rows: 308px 308px;
  gap: 25px;

  margin-bottom: 160px;
}

.item1 {
  grid-row: 1/3;
}

@media screen and (max-width: 770px) {
  .linksCardsSection {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
  }
  .linksCardsSection a {
    height: 200px;
  }
  .item1 {
    grid-row: 1/1;
  }
}

@media screen and (max-width: 550px) {
  .linksCardsSection {
    grid-template-rows: 250px;
  }
  .linksCardsSection a {
    height: 250px;
  }
  .linksCardsSection h2 {
    font-size: 28px;
  }
}

/* FEATURES SECTION */

.featuresSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media screen and (max-width: 980px) {
  .featuresSection {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 660px) {
  .featuresSection {
    gap: 80px;
  }
}

/* margin-bottom: 160px; */
