.heroBannerContainer {
  background-color: var(--primary-accent);
  color: var(--primary-light);
  text-align: center;
  padding-block: 64px;
  border-radius: var(--border-radius);

  margin-bottom: 160px;
  /* 120px for tablets */
  /* 96px for phones */
}

.heroBannerContainer h1 {
  padding-bottom: 24px;
}

.heroBannerContainer p {
  max-width: 50ch;
  margin-inline: auto;
}

@media screen and (max-width: 675px) {
  .heroBannerContainer {
    margin-inline: -40px;
    border-radius: 0;
    padding-block: 105px;
  }
}
